/* CSS Document */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  font-family: "Open-Sans", sans-serif;
  font-weight: 300;
  background-color: #fff;
  box-sizing: border-box;
}
.content {
  width: 1000px;
  padding: 25px 50px;
  margin: 25px auto;
  background-color: white;
  box-shadow: 0px 0px 10px #999;
  border-radius: 15px;
  font-family: "Google Sans";
}
.contentblock {
  width: 950px;
  margin: 0 auto;
  padding: 0;
  border-spacing: 25px 0;
}
.contentblock td {
  background-color: #fff;
  padding: 25px 50px;
  vertical-align: top;
  box-shadow: 0px 0px 10px #999;
  border-radius: 15px;
}
a,
a:visited {
  color: #224b8d;
  font-weight: 300;
}
#authors {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
}
#conference {
  text-align: center;
  margin-bottom: 20px;
  font-style: italic;
}
#authors a {
  margin: 0 10px;
}
h1 {
  text-align: center;
  font-size: 35px;
  font-weight: 300;
}
h2 {
  font-size: 30px;
  font-weight: 300;
}
code {
  display: block;
  padding: 10px;
  margin: 10px 10px;
}
p {
  line-height: 25px;
  text-align: justify;
  font-size: 1.2rem;
}
p code {
  display: inline;
  padding: 0;
  margin: 0;
}
#teasers {
  margin: 0 auto;
}
#teasers td {
  margin: 0 auto;
  text-align: center;
  padding: 5px;
}
#teasers img {
  width: 250px;
}
#results img {
  width: 133px;
}
#seeintodark {
  margin: 0 auto;
}
#sift {
  margin: 0 auto;
}
#sift img {
  width: 250px;
}
.downloadpaper {
  padding-left: 20px;
  float: right;
  text-align: center;
}
.downloadpaper a {
  font-weight: bold;
  text-align: center;
}
.teaser-img {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.teaser-gif {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.summary-img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.video-iframe {
  width: 1000;
  height: 800;
  margin: auto;
  display: block;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.image {
  flex-basis: 40%;
}
.text {
  font-size: 20px;
  padding-left: 20px;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.boxshadow {
  border: 1px solid;
  padding: 10px;
  box-shadow: 2px 2px 5px #888888;
}
.spacertr {
  height: 8px;
}
.spacertd {
  width: 40px;
}

.mode_choose {
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  border-radius: 6px;
  border: none;

  color: #fff;
  background: linear-gradient(180deg, #4b91f7 0%, #367af6 100%);
  background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25),
    inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}
.mode_choose:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2),
    0px 0.5px 1.5px rgba(54, 122, 246, 0.25),
    0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

.mode_choose:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.imageContainer {
  display: flex;
  perspective: 1000px;
  text-align: center;
}
.picContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5px;
}
.images {
  transition: transform 0.8s;
  margin-left: 4px;
  margin-bottom: 4px;
  transform-style: preserve-3d;
}
.flipped {
  transform: rotateY(180deg);
}

/* css for the slide */
.img-slider {
  display: flex;
}
.cat-main {
  margin: -15px 31.5px 15px 2px;
}

.cat-img {
  width: 100%;
}

.slider-container {
  width: 249%;
}

.slider {
  -webkit-appearance: none;
  width: 40%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  margin-top: 10px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: rgb(0, 162, 255);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  /* background: #04aa6d; */
  background: rgb(0, 162, 255);
  cursor: pointer;
}
.img-container {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin-top: 10px;
}
.first-img,
.last-img,
.left-img {
  width: 100px;
  padding: 0px 1px;
}
.last-img {
  cursor: pointer;
}

.left-img {
  margin: 1px 15px;
  cursor: pointer;
}
.generater {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
/* cilcked effect */
.clicked-image {
  border: 4px solid rgb(0, 162, 255);
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.clicked-animal {
  border: 4px solid rgb(0, 162, 255);
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

/* demo Subject-driven Image Editing */
.demo2 {
  display: flex;
  justify-content: space-between;
}
.org-image img {
  width: 408px;
}
.edited-img {
  display: flex;
  flex-wrap: wrap;

  align-items: flex-start;

  max-height: 300px;
  margin-left: 10px;
}
.edited-img img {
  width: calc(25% - 10px);
  height: auto;
  margin: 0 5px;
  box-sizing: border-box;
  cursor: pointer;
}
.showcase {
  display: flex;
}
.showcase img {
  width: calc(16.5% - 5px);
  margin: 0px 5px 10px 0;
}
